/* ===========================
   FONTES
=========================== */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');/* ===========================
   GERAL
=========================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background: #000;
}

 h1{
    font-family: "Alex Brush", cursive;
    font-size: 5rem;
}


h2,
h3{
     font-family: "Poppins", sans-serif;
    padding-left: 20px;
}

/* ===========================
   HERO
=========================== */

#hero{
    min-height: 100vh;

    background:
    linear-gradient(
        to bottom,
        rgba(0,0,0,.25) 70%,
        #B5C7EB 100%
    ),
    url("img/lirios.jpeg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;
    text-align: center;
}

/* ===========================
   GALERIA
=========================== */

#galeria{
    padding: 80px 0;

    background: linear-gradient(
        to bottom,
        #B5C7EB 70%,
        #FFFFFF
    );
}

.carrossel{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;

    scrollbar-width: none;
}

.carrossel::-webkit-scrollbar{
    display: none;
}

.carrossel img{
    width: 250px;
    height: 350px;

    object-fit: cover;

    border-radius: 15px;

    flex-shrink: 0;

    cursor: pointer;

    transition: .4s ease;
}

.carrossel img:hover{

    transform:
    scale(1.08);

    box-shadow: 0 15px 40px rgba(0,0,0,.30);

}

/* ===========================
   MÚSICA
=========================== */

#musica{

    min-height: 100vh;

    background:
    linear-gradient(
        to bottom,
        #FFFFFF,
        #000000
    );

    display: flex;
    justify-content: center;
    align-items: center;
}

.player{

    width: 350px;

    padding: 30px;

    border-radius: 25px;

    background: rgba(255,255,255,.9);

    backdrop-filter: blur(10px);

    text-align: center;

    box-shadow: 0 10px 30px rgba(0,0,0,.12);

}

.player img{

    width: 250px;
    height: 250px;

    object-fit: cover;

    border-radius: 20px;

}

.player h3{

    margin-top:20px;

}

.player p{

    color:gray;

}

#play{

    margin-top:20px;

    width:70px;
    height:70px;

    border:none;

    border-radius:50%;

    cursor:pointer;

    font-size:25px;

}

/* ===========================
   CARTA
=========================== */

#carta{

    min-height:100vh;

    background:#000;

    color:#fff;

    display:flex;

    justify-content:center;

    align-items:center;

}

.container-carta{

    width:80%;

    max-width:800px;

}

.container-carta h2{

    margin-bottom:40px;

    text-align:center;

}

.container-carta p{

    line-height:2;

    text-align:justify;

}

/* ===========================
   ANIMAÇÕES
=========================== */

.hidden{

    opacity:0;

    transform:translateY(70px);

    transition:.8s;

}

.show{

    opacity:1;

    transform:translateY(0);

}

/* Player */

.tocando{

    animation:girar 8s linear infinite;

}

@keyframes girar{

    from{

        transform:rotate(0deg);

    }

    to{

        transform:rotate(360deg);

    }

}

/* Seta */

.seta{

    animation:seta 1.5s infinite;

}

@keyframes seta{

    50%{

        transform:translateY(10px);

    }

}

/*titulo escrever animação*/

#titulo::after{
    content: "|";
    animation: piscar .8s infinite;
}

@keyframes piscar{

    50%{
        opacity:0;
    }

}